<!DOCTYPE html>
<!-- <html lang="en"> -->
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Evaluación intermedia Modulo 2</title>
    <link rel="stylesheet" href="./assets/css/main.css">


</head>


<body class="body">
    <div class="container">
        <div class="text_container">
            <h1 class="question"></h1>
            <button class="js-button button">Update</button>

        </div>
        <img class="js-quote" id="myImg"></img>
    </div>

    <script src="./assets/js/main.js"></script>
</body>

</html>